@using KeywordSearch.Models
@model Search
@{
    ViewBag.Title = "Keyword Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 class="text-center">Key word Search</h3>
<br />
<div class="row">
    <div class="col-md-9 col-md-offset-3">
        @using (@Html.BeginForm())
        {
            <div class="form-group col-md-12">
                @Html.LabelFor(x => x.SearchWord, "URL")
                @Html.TextBoxFor(x => x.SearchWord, new { @Class = "form-control" })
            </div>
            <div class="form-group col-md-12">
                @Html.LabelFor(x => x.SearchWord, "Key Words")
                @Html.TextBoxFor(x => x.Keyword, new { @Class = "form-control" })
            </div>
            <div class="col-md-12">
                <input type="submit" name="submit" value="Get Result" class="btn btn-primary btn-block" />
            </div>
        }
    </div>
</div>

