@using KeywordSearch.Models
@model Search

@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{  
    <h3>@Model.SearchWord: found @ViewBag.resultIndex.Count results</h3>
    <hr />
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Page Number</th>
                <th>Index in Current Page</th>
                <th>Index in First 100 Record</th>
            </tr>
        </thead>

        <tbody>
            @foreach (int index in ViewBag.resultIndex as List<int>)
            {
                <tr>
                    <td>@(Model.Results[index].Page + 1)</td>
                    <td>@Model.Results[index].Index</td>
                    <td>@(index + 1)</td>
                </tr>
            }

        </tbody>
    </table>
}